<h1>form 태그</h1>

<form action="/session/create" method="post">
    이름:<input type="text" name="input_name"><br>
    이메일:<input type="email" name="input_email"><br>
    비밀번호:<input type="text" name="input_age"><br>
    성별:<input type="text" name="input_gender"><br>
    전화번호:<input type="text" name="input_phone_number"><br>
    <input type="submit" value="제출"><br>
</form>